body {
    font-family: 'Roboto', sans-serif;}

h1 {
    color: white; 
}

p {
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

p:hover {
    background-color: black;
}

#header {
    color:#4cbb17;
}

#firstRow {
    margin-left: 15px;
    margin-right: 15px;
}

.card-deck {
    margin-left: 15px;
    margin-right: 15px;
}
#searchCard {
    background-color:#4cbb17;
}
.text-primary {
    margin-left: 30px;
}


.weather-card {
    background-color: #8617bb;
}